@import "tailwindcss";

@property --degree {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@theme {
  --font-playwrite: ;
}

@layer components {
  .moto {
    background-image: conic-gradient(
      from var(--degree),
      #1333e9,
      #dddde7,
      blue
    );
    background-clip: text;
    color: transparent;
    animation: rotate 5s infinite linear;
  }
  @keyframes rotate {
    0% {
      --degree: 0deg;
    }
    100% {
      --degree: 360deg;
    }
  }
  /* new style */
  .contianer-1 {
    border-radius: 50%;
    position: relative;
    background-color: rgb(69, 151, 199);
  }
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  .contianer-1::after {
    border-radius: 50%;
    content: "";
    height: 104%;
    width: 104%;
    background-image: conic-gradient(from var(--angle), transparent 1%, blue);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    padding: 30px;
    animation: border-changer 10s infinite linear;
  }
  @keyframes border-changer {
    0% {
      --angle: 0deg;
    }
    100% {
      --angle: 360deg;
    }
  }
}
